/* reset */
/* Reset CSS  */
* { margin:0; padding:0; border:0; outline:0; vertical-align:top;
  -webkit-text-size-adjust:none;  }
  html{font-family:'고딕'; font-size:16px; color:#fff;}
  body {}
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
  ul, ol, dl { list-style:none; }
  img, video {border:0; vertical-align:top; }
  a, a:link {color:#fff;text-decoration:none; display: block; }
  a:visited { color:#fff; }
  a:active {color:#333;text-decoration:none; }
  table { border-collapse:collapse; border-spacing:0; }
  input, select { vertical-align:middle; }
  label { cursor:pointer; }
  .blind,legend,hr,caption { display:block; overflow:hidden; position:absolute; top:0; left:-1000em; }
  em,address { font-style:normal; font-weight:normal; }
  p,li,dd{ line-height:1.5em}
  .hidden, #skipNav{display: block; position: absolute; left:-1000%; top:0; width: 1px; height: 1px;
      overflow: hidden; color: #fff;}
/* typer */
.typing-txt{display: none;}
.typeing-txt ul{list-style:none;}
.typing {  
  display: inline-block; 
  animation-name: cursor; 
  animation-duration: 0.3s; 
  animation-iteration-count: infinite; 
} 
@keyframes cursor{ 
  0%{border-right: 1px solid #fff} 
  50%{border-right: 1px solid #000} 
  100%{border-right: 1px solid #fff} 
}

body{
    background:#209cee
}